---
- hosts: localhost
  connection: local
  gather_facts: yes
  become: true
  tasks:
    - sysctl:
        name: net.ipv4.ip_forward
        value: 1
        sysctl_set: yes
        state: present
        reload: yes
    - name: install apt deps
      apt:
        name:
          - build-essential
          - curl
          - default-jre
          - docker.io
          - file
          - flake8
          - tox
          - gcc
          - zlib1g-dev
          - libffi-dev
          - libffi6
          - libssl-dev
          - libxml2-dev
          - make
          - python3-dev
          - python3-pip
          - python3.6
          - python3.6-dev
          - snapcraft
          - snapd
          - sosreport
          - squashfuse
          - strace
          - ubuntu-dev-tools
          - ubuntu-server
          - ubuntu-standard
          - unzip
          - wget
    - name: remove unused debs
      apt:
        name:
          - python-pip
          - juju
          - lxd
          - lxd-client
          - lxcfs
          - lxc-common
          - liblxc1
          - juju-wait
        state: absent
    - name: install snap deps
      command: "snap install {{item}}"
      ignore_errors: yes
      loop:
        - "lxd"
        - "juju --classic"
        - "juju-wait --classic"
        - "kubectl --classic"
        - "charm --classic --edge"
    - name: clone juju-wait script
      git:
        repo: 'https://git.launchpad.net/juju-wait'
        dest: /srv/juju-wait
      when: ansible_architecture != "x86_64"
    - name: copy juju-wait to bindir
      copy:
        src: /srv/juju-wait/juju_wait/__init__.py
        dest: /usr/local/bin/juju-wait
        mode: 0777
        force: yes
      when: ansible_architecture != "x86_64"
    - name: juju stable
      command: "snap refresh juju --stable"
      ignore_errors: yes
    - name: copy bashrc
      copy:
        src: "bashrc"
        dest: /var/lib/jenkins/.bashrc
        owner: jenkins
        group: jenkins
        mode: 0644
        force: yes
    - name: copy charm creds
      copy:
        src: "{{ lookup('env', 'CHARMCREDS') }}"
        dest: /var/lib/jenkins/.go-cookies
        owner: jenkins
        group: jenkins
        mode: 0644
        force: no
    - name: login to charmstore
      command: "charm login"
      become: false
    - name: copy snapcraft creds
      copy:
        src: "{{ lookup('env', 'SNAPCRAFTCREDS') }}"
        dest: /var/lib/jenkins/snapcraft-creds
        owner: jenkins
        group: jenkins
        mode: 0644
        force: no
    - name: login to snapstore
      command: "snapcraft login --with /var/lib/jenkins/snapcraft-creds"
      become: false
    - name: create aws dir
      file:
        path: /var/lib/jenkins/.aws
        state: directory
        owner: jenkins
        group: jenkins
        mode: 0755
    - name: copy aws creds
      copy:
        src: "{{ lookup('env', 'AWSCREDS') }}"
        dest: /var/lib/jenkins/.aws/credentials
        owner: jenkins
        group: jenkins
        mode: 0644
        force: no
    - name: create juju dir
      file:
        path: /var/lib/jenkins/.local/share/juju
        state: directory
        mode: 0755
    - name: copy juju credentials
      unarchive:
        src: "{{ lookup('env', 'JUJUCREDS') }}"
        dest: /var/lib/jenkins/.local/share/juju
    - name: create jaas dir
      file:
        path: /var/lib/jenkins/.local/share/juju/cookies
        state: directory
        mode: 0755
    - name: copy jaas cookie
      copy:
        src: "{{ lookup('env', 'JAASCREDS') }}"
        dest: /var/lib/jenkins/.local/share/juju/cookies/jaas.json
        owner: jenkins
        group: jenkins
        mode: 0600
        force: no
    - name: set perms
      file:
        path: /var/lib/jenkins/.local/share/juju
        owner: jenkins
        group: jenkins
        recurse: yes
    - name: update jenkins user
      user:
        name: jenkins
        groups: jenkins,docker,lxd
    - name: setup lxd network
      command: "/snap/bin/lxd init --auto"
    - name: disable ipv6 in lxd
      command: "lxc network set {{item}} ipv6.address none"
      ignore_errors: yes
      loop:
        - 'lxdbr0'
        - 'lxdbr1'
    - name: set lxd mtu
      command: "lxc network set {{item}} bridge.mtu 1458"
      ignore_errors: yes
      loop:
        - 'lxdbr0'
        - 'lxdbr1'
    - name: set docker daemon config
      copy:
        src: docker.daemon.json
        dest: /etc/docker/daemon.json
        force: yes
        owner: root
        group: root
    # - name: set docker systemd config
    #   copy:
    #     src: docker.service
    #     dest: /lib/systemd/system/docker.service
    #     force: yes
    #     owner: root
    #     group: root
    - name: restart docker service
      service:
        name: docker
        state: restarted
