Host s3lp3
    identityfile "/var/lib/jenkins/.ssh/id_rsa"
    hostname  {{ s390x }}
    user ubuntu
    port 22
Host neader
    identityfile "/var/lib/jenkins/.ssh/id_rsa"
    hostname {{ arm64 }}
    user ubuntu
    port 22
