PyNaCl
hunter
aioify>=0.3.2
async-generator
asyncio-extras
autopep8
aiocontextvars
awscli>=1.18.3
ansible
black
boto3
bs4
contextvars
configobj
canonicalwebteam.snapstoreapi
loguru
flake8
invoke
importlib-metadata
ipdb
jenkins-job-builder
jinja2
juju-wait
juju==2.8.2
jujubundlelib
kv
loguru
mkdocs-material>=5.3.0
mkdocs
ogc-plugins-juju>=1.0.35
ogc-plugins-runner>=1.0.24
ogc>=1.0.1
requests
pynacl==1.1.2
pymacaroons
pyyaml>=5.1.2
pytest-asyncio
pytest-html
flaky
pytest
python-dotenv
python-frontmatter
theblues
lazr.restfulclient
launchpadlib
sh
retry
macaroonbakery>=1.3.1
pathos
prettytable
wheel
uvloop