async-generator
asyncio-extras
awscli>=1.18.3
backoff
black
boto3
bs4
dill
drypy
loguru
flake8
invoke
jenkins-job-builder
jinja2
juju
kv
loguru
mkdocs-material>=5.3.0
mkdocs
requests
pymacaroons
pyyaml>=5.1.2
pytest-asyncio<0.22
pytest-json-report
pytest-html
pytest-mock
flaky
pytest<8
python-dotenv
lazr.restfulclient
launchpadlib
semver
sh
surl
retry
prettytable
wheel
