[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jenkins-job-builder = "*"
invoke = "*"
pytest = "*"
pytest-asyncio = "*"
requests = "*"
juju = "*"
python-dotenv = "*"
ansible = "*"
asyncio-extras = "*"
sh = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3"
