[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jenkins-job-builder = "*"
invoke = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-xdist = "*"
requests = "*"
juju = "==0.10.1"
python-dotenv = "*"
ansible = "*"
asyncio-extras = "*"
sh = "*"
flake8 = "*"
launchpadlib = "*"
"canonicalwebteam.snapstoreapi" = "*"

[dev-packages]
ipdb = "*"
"autopep8" = "*"

[requires]
python_version = "3"
