ansible
ansible
asyncio-extras
awscli
boto3
canonicalwebteam.snapstoreapi==0.4.4
click
flake8
invoke
ipdb
jenkins-job-builder
jinja2
juju
juju-wait
kv
launchpadlib==1.10.6
pymacaroons
pytest-asyncio
pytest-xdist
pytest==4.0.2
python-dateutil
python-dotenv
requests
toolz
sh
staticjinja
