ipdb
click
ansible
pytest-asyncio
jenkins-job-builder
juju-wait
awscli
invoke
pytest==4.0.2
pytest-xdist
requests
juju
python-dotenv
ansible
asyncio-extras
sh
flake8
jinja2
launchpadlib==1.10.6
canonicalwebteam.snapstoreapi==0.4.4
python-dateutil
