ansible
asyncio-extras
autopep8
awscli
black==19.3b0
boto3
canonicalwebteam.snapstoreapi==0.4.4
click
flake8
invoke
ipdb
jenkins-job-builder
jinja2
juju
juju-wait
kv
launchpadlib==1.10.6
pymacaroons
pynacl==1.1.2
pytest-asyncio
pytest-xdist
pytest==4.4.0
python-dateutil
python-dotenv
pyyaml==3.13
requests
semver==2.8.1
setuptools
sh
staticjinja
toolz
