canonicalwebteam.snapstoreapi==0.4.4
Click==7.0
Jinja2==2.10.1
juju==0.11.7
juju-wait==2.7.0
jujubundlelib==0.5.6
pymacaroons==0.13.0
PyYAML<6.0.0
requests==2.22.0
semver==2.8.1
sh==1.12.14
theblues==0.5.1
lazr.restfulclient==0.14.2
launchpadlib==1.10.7
