{% extends "_base.html" %}
{% block content %}
<div class="container-fluid">
  <h3>Job Report</h3>

  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item">ID: {{ obj.job_id }}</li>
        {% if obj.job_name_custom %}
        <li class="list-group-item">Name: {{ obj.job_name_custom }}</li>
        {% else %}
        <li class="list-group-item">Name: {{ obj.job_name }}</li>
        {% endif %}
        <li class="list-group-item">Build Start: {{ obj.build_starttime }}</li>
        <li class="list-group-item">Build End: {{ obj.build_endtime }}</li>
        <li class="list-group-item">Deploy Start: {{ obj.build_starttime }}</li>
        <li class="list-group-item">Deploy End: {{ obj.deploy_endtime }}</li>
        {% if obj.artifacts %}
        <li class="list-group-item"><a href="/{{obj.job_id}}/artifacts.tar.gz" target="_blank">Download Artifacts</a></li>
        {% endif %}
        {% if obj.pytest_report %}
        <li class="list-group-item"><a href="/{{obj.job_id}}/report.html" target="_blank">View pytest report</a></li>
        {% endif %}

      </ul>
      {% if columbo_results %}
      <div class="accordion text-left" id="columbo-accordion">
      {% for item in columbo_results %}
        <div class="card">
          <div class="card-header" id="heading-{{loop.index}}">
            <h2 class="mb-0">
              <button class="btn btn-link text-left" type="button" data-toggle="collapse" data-target="#collapse-{{loop.index}}" aria-expanded="true" aria-controls="collapse-{{loop.index}}">
                <h3>{{item.name}}</h3>
                <p><strong>{{item.filename}}</strong></p>
              </button>
            </h2>
          </div>

          <div id="collapse-{{loop.index}}" class="collapse" aria-labelledby="heading-{{loop.index}}" data-parent="#columbo-accordion">
            <div class="card-body">
              <pre>{{item.results}}</pre>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
